{{!-- add a link to add a new post --}}
<a href="/dashboard/new">Add new post
      <span class="material-symbols-outlined">
        post_add
      </span>
    </a>

<div class="container text-center p-3">
  <div class="row align-items-center">
    {{#each posts}}
    <div class="col-6 p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{body}}</p>
         <p class="card-text">Posted by {{user.username}}</p>
          <a href="/posts/{{id}}" class="btn btn-dark">Leave a comment</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

