


<div class="container text-center p-3">
  <div class="row align-items-center">
    {{#each posts}}
    <div class="col-6 p-3 ">
      <div class="card image-container" style="width: 32rem; height: 20rem">
        <div class="card-body">
           <i class="fa-regular fa-pen-to-square d-flex justify-content-end editBtn"></i>
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{body}}</p>
         <p class="card-text">Posted by {{user.username}}</p>
         <a href="/posts/{{id}}" class="commentBtn btn btn-dark">Leave a
              comment</a>
            <i
              class="fa-regular fa-trash-can mb-2 d-flex justify-content-end"
            ></i>
        </div>
      </div>
    </div>
    {{!-- two --}}
    {{/each}}
  </div>
</div>
