<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1">Welcome to the Blog</h1>
    </div>
  </div>

  <div class="row justify-content-center"> <!-- Center the content -->
    <div class="col-12 col-md-6"> <!-- Adjust column width -->
      <p class="lead">This is a blog where you can post your thoughts and ideas. You can also comment on other people's posts. Enjoy!</p>
    </div>
<div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-overlay">
        <img src="/images/miguel-bruna-TzVN0xQhWaQ-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-text">Sample Text 1</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-overlay">
        <img src="/images/birgith-roosipuu--zLsm1cV2Ss-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-text">Sample Text 2</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-overlay">
        <img src="/images/tim-goedhart-vnpTRdmtQ30-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-text">Sample Text 3</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-overlay">
        <img src="/images/christina-deravedisian-VDOhTPhJZb0-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-text">Sample Text 4</div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    </div>
  </div>

</div>



{{! add a link to add a new post }}

<div class="container text-center p-5">
  <div class="row justify-content-center">
    {{#each posts}}
      <div class="col-md-6 mb-4">
        <div class="card" style="width: 100%; max-width: 500px; height: 300px;"> <!-- Set fixed width and height -->
          <i class="fa-regular fa-pen-to-square position-absolute top-0 end-0 editBtn p-2"></i>
          <div class="card-body minty" style="overflow-y: auto; max-height: 200px;"> <!-- Set max-height for scrolling -->
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{body}}</p>
            <p class="card-text">Posted by {{user.username}}</p>
            <a href="/posts/{{id}}" class="commentBtn btn btn-dark">Leave a comment</a>
          </div>
          <i class="fa-regular fa-trash-can position-absolute bottom-0 end-0 mb-2 deleteBtn p-2"></i>
        </div>
      </div>
    {{/each}}
  </div>
</div>










<script src="/js/comment.js"></script>