<div class="container-fluid">
    <div class="row d-flex justify-content-center">
<div class="card minty shadow p-3 mb-5 rounded " style="width: 500px;">
    <div class="card-header">
        <h2 class="card-title">Add a new post</h2>
    </div>
    <div class="card-body">
        <form id="newPost" action="/new" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="body">Text</label>
            <textarea id="body" name="body" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add post</button>
        </form>
    </div>
</div>
    </div>
</div>


<script src="/js/addNewPost.js"></script>